/*****************************************/
/* Custom Properties */
:root {
  --blue-black: #002246;
  --blue: #07366a;
  --blue-light: #00b1ef;
  --white: #fff;
  --orange: #f9a73e;
  --gray: #9a9a9a;
  --gray-dark: #232323;
  --gray-light: #ebebeb;
}

/*****************************************/
/* Reusable components */
.btn-artem {
  padding: 13px 40px !important;
}

.btn-artem span {
  font-size: 18px !important;
  line-height: 1;
}
/*****************************************/
/* Vertical page */
.vertical-hero-img-container {
  height: calc(100vh - 120px);
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: var(--blue);
}

.vertical-hero-img {
  width: 100%;
  max-width: 600px !important;
  margin: auto;
}

.driven-technology {
  margin-top: 60px;
  background-color: var(--blue);
  position: relative;
}

.driven-technology .row {
  position: relative;
  z-index: 10;
}

.pattern {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 300px;
  border-top: 80px solid var(--white);
  border-right: 80px solid var(--white);
  opacity: 0.05;
}

@media (min-width: 992px) {
  .pattern {
    border-top: 120px solid var(--white);
    border-right: 120px solid var(--white);
    width: auto;
    height: 100%;
    aspect-ratio: 1 / 1;
  }
}

@media (min-width: 992px) {
  .driven-technology {
    margin-top: 100px;
  }
}

.driven-technology .full-bleed-padding {
  padding-top: 100px;
}

.driven-technology-img-container {
  padding: 20px;
  height: 235px;
  overflow: hidden;
}

@media (min-width: 992px) {
  .driven-technology-img-container {
    padding: 0;
    height: 400px;
    text-align: right;
  }
}

@media (min-width: 992px) {
  .driven-technology-img {
    height: 600px !important;
  }
}

.section-vertical-scroll {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: var(--blue);
}

.scroll-card {
}

.scroll-card-head {
  position: relative;
  padding-left: 80px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--blue-light);
}

@media (min-width: 992px) {
  .scroll-card-head {
    margin-bottom: 60px;
  }
}

.scroll-card-number {
  position: absolute;
  font-size: 120px;
  font-weight: 600;
  color: var(--white);
  top: 0;
  left: 0;
  line-height: 1;
  opacity: 0.15;
}

.scroll-card-learn-more {
  color: var(--white);
  font-size: 20px;
  border-bottom: 1px solid var(--white);
}

.scroll-card-media {
  padding: 60px 0;
}

.scroll-card-media img {
  background-color: var(--blue-light);
}

.scroll-card-nav {
}

.scroll-card-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.scroll-card-item {
}

.scroll-card-link {
  text-decoration: none;
  color: var(--white);
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scroll-card-icon {
  padding: 2px 12px;
  background-color: var(--blue-light);
  display: flex;
  align-items: center;
  border-radius: 2px;
}

.scroll-card-icon svg {
  fill: var(--white);
}

.section-scroll {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 60px;
}

@media (min-width: 1200px) {
  .section-scroll {
    grid-gap: 120px;
  }
}

.section-scroll-gallery {
  position: relative;
}

.section-scroll-gallery img {
  position: absolute;
  background-color: var(--blue-light);
}

.section-scroll-content {
  display: grid;
  grid-gap: 120px;
}

@media (min-width: 1200px) {
  .section-scroll-wrapper {
    padding: 0 120px;
  }
}

/*****************************************/
/* EHIS page */

/*****************************************/
/* Reusable layout */
.overview {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .overview {
    padding: 20px;
    display: grid;
    grid-template-columns: 360px 1fr;
    grid-gap: 64px;
    align-items: start;
    max-width: 1280px;
  }
}

.aside {
  display: none;
  height: 100vh;
}

.aside .active {
  color: var(--orange) !important;
}

.aside-navs {
  padding: 2rem;
  height: calc(100vh - 200px);
  overflow-y: scroll;
  color: var(--white);
}

.aside-navs::-webkit-scrollbar {
  width: 0;
}

@media (min-width: 1200px) {
  .aside {
    display: block;
  }
}

.side-nav {
}

.side-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.side-nav-item {
}

.side-nav-link:link,
.side-nav-link:visited,
.side-nav-link:hover,
.side-nav-link:active {
  color: var(--white);
  border-bottom: 2px solid var(--white);
  transition: all 0.3s ease;
}

.side-nav-title {
  font-size: 20px;
}

.overview-main {
}

.overview-cover-img {
  margin-bottom: 30px;
}

.overview-content {
  padding: 20px;
}

@media (min-width: 1200px) {
  .overview-content {
    padding: 0;
  }
}

.overview-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
}

@media (min-width: 768px) {
  .overview-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.overview-list-item {
  padding: 20px 0;
}

@media (min-width: 768px) {
  .overview-list-item {
    padding: 30px;
  }
}

.overview-list-item:not(:last-child) {
  border-bottom: 1px solid var(--gray-light);
}

@media (min-width: 768px) {
  .overview-list-item:last-child {
    border-right: 1px solid var(--gray-light);
  }

  .overview-list-item:nth-of-type(odd) {
    padding-left: 0;
  }

  .overview-list-item:nth-of-type(even) {
    padding-right: 0;
    border-left: 1px solid var(--gray-light);
  }
}

.overview-list-item h5 {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--gray-dark);
}

.overview-list-item span {
  color: var(--gray-dark);
}

.overview-list-item h5::before {
  content: "";
  height: 20px;
  width: 20px;
  background-image: url("../images/check.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}

.overview .card-body {
  padding: 60px 20px;
}

.overview-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--white);
}

.overview-icon img {
  width: 40px;
}

.card-divider {
  display: block;
  background-color: var(--white);
  height: 1px;
  width: 100%;
}

/*****************************************/
/* Util Classes */

.section-hero {
  min-height: calc(100vh - 120px);
}

@media (min-width: 1400px) {
  .offset-hero-img {
    transform: translateX(150px);
  }
}

/* Width */
.max-w-600-lg {
  width: 100%;
  max-width: 600px !important;
}

.max-w-400 {
  max-width: 400px !important;
}

@media (min-width: 992px) {
  .max-w-600-lg {
    max-width: 100% !important;
  }
}

/* Typography */
.text-panarama {
  text-transform: uppercase;
  letter-spacing: 7px;
}

.text-label {
  display: inline-block;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 4px;
  padding: 8px 32px 4px 32px;
  text-transform: uppercase;
  color: var(--gray);
  background-color: var(--gray-light);
  border-radius: 20px;
}

/* Text colors */
.text-orange {
  color: var(--orange);
}

.text-white {
  color: var(--white) !important;
}

.text-blue {
  color: var(--blue);
}

.text-blue-light {
  color: var(--blue-light);
}

.text-gray {
  color: var(--gray);
}

.text-gray-light {
  color: var(--gray-light);
}

/* Background colors */
.bg-blue-black {
  background-color: var(--blue-black);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-orange {
  background-color: var(--orange);
}

.bg-blue-light {
  background-color: var(--blue-light);
}

.bg-gray-light {
  background-color: var(--gray-light);
}

/* Font weight */
.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

/* Padding */

.full-bleed-padding {
  padding: 20px;
}

@media (min-width: 1200px) {
  .full-bleed-padding {
    padding-left: 100px !important;
  }
}

/* Display */

@media (min-width: 992px) {
  .mobile-content {
    display: none;
  }
}

.desktop-content {
  display: none;
}

@media (min-width: 992px) {
  .desktop-content {
    display: block;
  }
}
