@font-face {
    font-family: 'Ageo';
    src: url('../fonts/Ageo-Medium.woff') format('woff2'),
        url('../fonts/Ageo-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ageo';
    src: url('../fonts/Ageo-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Ageo-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ageo';
    src: url('../fonts/Ageo-ExtraBold.woff2') format('woff2'),
        url('../fonts/Ageo-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ageo';
    src: url('../fonts/Ageo-LightItalic.woff2') format('woff2'),
        url('../fonts/Ageo-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ageo';
    src: url('../fonts/Ageo-Light.woff2') format('woff2'),
        url('../fonts/Ageo-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ageo';
    src: url('../fonts/Ageo-MediumItalic.woff2') format('woff2'),
        url('../fonts/Ageo-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ageo';
    src: url('../fonts/Ageo-HeavyItalic.woff2') format('woff2'),
        url('../fonts/Ageo-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ageo';
    src: url('../fonts/Ageo-RegularItalic.woff2') format('woff2'),
        url('../fonts/Ageo-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ageo';
    src: url('../fonts/Ageo-Heavy.woff2') format('woff2'),
        url('../fonts/Ageo-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ageo';
    src: url('../fonts/Ageo-BoldItalic.woff2') format('woff2'),
        url('../fonts/Ageo-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ageo';
    src: url('../fonts/Ageo-Bold.woff2') format('woff2'),
        url('../fonts/Ageo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ageo';
    src: url('../fonts/Ageo-Thin.woff2') format('woff2'),
        url('../fonts/Ageo-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ageo';
    src: url('../fonts/Ageo-ThinItalic.woff2') format('woff2'),
        url('../fonts/Ageo-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ageo';
    src: url('../fonts/Ageo-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Ageo-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ageo';
    src: url('../fonts/Ageo-SemiBold.woff2') format('woff2'),
        url('../fonts/Ageo-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ageo';
    src: url('../fonts/Ageo-Regular.woff2') format('woff2'),
        url('../fonts/Ageo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

