@media(max-width:991px) { 
    .uui-container-large-12{
        padding: 0px 20px !important;
    }

    .about-bg h2{
        font-size: 44px;
    }
    .desktop768{
        display: none;
      }
      .mobile786{
        display: block;
      }

      .mission-content{
        padding-left: 0px;
      }
      
      .missionMobileImg{
        padding: 30px 0;
      }

      .missionMobileImg img{
        width: 100%;
      }

      .pioneerMobileImg{
        padding: 30px 0;
        
      }

      .pioneerMobileImg img{
        width: 100%;
      }
      
}


@media(max-width:600px) {
    .about-bg{
        align-items: flex-start;
        padding-left: 20px;
    }

    /* .about-bg h2{
        font-size: 44px;
    }

    .contract-in h4{
        font-size: 44px;
    }

    .f-h1-heading-2{
        font-size: 44px !important;
    } */
    .uui-cta03_image-wrapper-2 {
        width: 105%;
        margin-left: 0;
    }
}